.footer_text {
    background-color: #D0D0D0;
    font-size: 13px;
}


.img_logo {
    width: 12rem;
    height: auto;
}


.div_top {
    background-color: #D0D0D0;
}


.div_icon_bottom {
    background-color: #D9D9D9;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.div_text_bottom {
    background-color: #D0D0D0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.div_preview_img {
    background-color: #4F4E4E;
}


.div_preview_video {
    background-color: #BCB8B8;
}
